@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    font-family: 'Dancing Script', cursive;
}
.image{
    border: black 2px solid;
    width: 50%;
    height: 80%;
    margin: 2% 2% 2% 2%;
    box-shadow: black 3px 3px 3px;
    margin-left: 25%;
}
.text{
    color: black;
    font-size: 55px;
    text-align: left !important;
}
.sub-text{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 5%;
}
.about{
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}
.list{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.skill-list{
    font-weight: bold;
    font-size: 25px;
    text-shadow: black 1px 1px 1px;
    text-align: center;
}
.skill-list:hover{
    border : 2px darkblue solid;
    transition: border-width 0.2s linear;
    border-radius: 50%;
}
.work{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
.line{
    border-bottom: solid 2px black;
    width: 50%;
}
.workabout{
    text-shadow: black 1px 1px 1px;
    text-align: left;
}
.footer{
    color:darkblue;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}